<% include ../partials/header %>

    <h1>Approve Student Letters</h1>

    <form action="/letter/<%= letid %>?_method=PUT" method="POST">
        <div class="form-group">
                <input  class="form-control" type="text" 
                    name="letter[approvalStatus][teacher_id]" 
                    placeholder="status" 
                    value="<%= currentUser._id %>"
                    readonly
                >        
        </div>
        <div class="form-group">
                <input  class="form-control" type="text" 
                    name="letter[approvalStatus][username]" 
                    placeholder="status" 
                    value="<%= currentUser.username %>"
                    readonly
                >
        </div>
        
        <div class="form-group">
            <input  class="form-control" type="text" name="letter[approvalStatus][status]" placeholder="status" value="true" readonly>
        </div>
        
        <div class="form-group">
            <input  class="form-control" type="date" name="letter[approvedAt]" placeholder="date of approval">
        </div>
        
        <div class="form-group">
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Approve">  
        </div>
            
    </form>

    <a href="/letter">Back to Home Page</a>

<% include ../partials/footer %>