<h1>Create New Letter</h1>

<form action="/" method="POST">
    <input type="text" name="letter[startDate]" placeholder="start date">
    <input type="text" name="letter[endDate]" placeholder="end date">
    <input type="text" name="letter[leaveType]" placeholder="type of leave">
    <input type="text" name="letter[reason]" placeholder="reason of leave">
    <input type="date" name="letter[requestedAt]" placeholder="date of request">
    <input type="submit" value="Login">   
</form>

<a href="/student/show">Back to Student Home Page</a>