<% include partials/header %>

<div id="myLanding">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <div id="content">
        <hr>
        <h1>Welcome to S.L.A.S.A</h1>
        <p>Student Leave Application Submission & Aprroval</p>
        <hr>
    </div>
</div>

<% include partials/footer %>