<h1>This is my landing page</h1>

<a href="/register">Register here</a>
<a href="/login">Login here</a>
<a href="/logout">Logout</a>
<a href="/student/<%= req.params.id %>">View details</a>
<a href="/letter">View All Letters</a>