<h1>This is my landing page</h1>

<a href="/register">Register here</a>
<a href="/login">Login here</a>
<a href="/logout">Logout</a>

<% if(currentUser && currentUser.role === "student"){ %>
    <a href="/student/<%= currentUser.id %>">View details</a>
<% } %>
<% if(currentUser && currentUser.role === "teacher"){ %>
    <a href="/letter">View All Letters</a>
<% } %>