<h1>Sign UP</h1>

<form action="/register" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="email" name="email" placeholder="email">
  <select name="role">
    <option value="student" selected>Student</option> 
    <option value="teacher">Teacher</option>
  </select>
  <button>Submit</button>
</form>